#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: white;
}

* {
    box-sizing: border-box;
}




h1{
    text-align: center;
    color:#1a89f0;
}

html {
    scroll-behavior: smooth;
}